<ion-header-bar align-title="center" class="bar-balanced nav-title-slide-ios7">
    <a class="header-item" ui-sref="home">
        <i class="button button-icon ion-ios-undo-outline">Back</i>
    </a>

    <div class="h1 title">{{question | limitTo: 20}}</div>
    <button class="button button-clear icon-right" ng-class="setfavicon" ng-click="setFav()"></button>
</ion-header-bar>
<ion-content on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">
    <div class="card">
        <div id="itemCard" class="item item-text-wrap" data-ng-bind-html="description"></div>
    </div>
</ion-content>