<ion-header-bar align-title="center" class="bar-balanced nav-title-slide-ios7">
    <h1 class="title">Settings</h1>
</ion-header-bar>
<ion-view title="Settings">
    <ion-content id="settingText">
        <h4>Contact me</h4>
        <button class="button button-small button-outline button-balanced icon ion-email" id="settingbtn"
             onclick="window.open('mailto:beneaves01@hotmail.com')">
        </button>
        <br><br><br><br>
		
		<h4>My Website</h4>
        <button class="button button-small button-outline button-balanced icon ion-social-github" id="settingbtn"
            onclick="window.open('http://angeal185.github.io', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br>
		
		<h4>My Codepen</h4>
        <button class="button button-small button-outline button-balanced icon ion-social-codepen" id="settingbtn"
            onclick="window.open('https://codepen.io/angeal185/', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br>
		
		<h4>My Linkedin</h4>
        <button class="button button-small button-outline button-balanced icon ion-social-linkedin" id="settingbtn"
            onclick="window.open('https://www.linkedin.com/in/ben-eaves-996991125', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br>

        <h4>Angular Reference</h4>
        <button class="button button-small button-outline button-balanced icon ion-android-globe"
            id="settingbtn"
            onclick="window.open('http://docs.angularjs.org/guide', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br><br>
        <p>2016 Ben Eaves</p>
    </ion-content>
</ion-view>
